*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
src/html_to_text_conversion/out
extracted.html
0000tw-43.warc
0207wb-19.warc
src/combine_sequence_files/data
src/combine_sequence_files/out
src/zzzzzzzzzzz
.idea

