<!DOCTYPE html>
<html>
<meta charset="utf-8">
<body>
<div id="content"></div>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="d3.js"></script>
<script src="d3.layout.cloud.js"></script>
<script>
  var fill = d3.scale.category20();

  var input = ___input___;

  input.forEach(function (words, index) {
    d3.layout.cloud().size([1200, 700])
            .words(words)
            .padding(1)
            .rotate(function () {
              if (Math.random() < 0.2) return ~~(Math.random() * 2) * 90;
              return (Math.random() - 0.5) * 150;
            })
            .font("Impact")
            .fontSize(function (d) {
              return d.size;
            })
            .on("end", draw)
            .start();

    function draw(words) {
      d3.select("#content").append("svg")
              .attr("width", 1200)
              .attr("height", 750)
              .append("g")
              .attr("transform", "translate(0,0)")
              .selectAll("text")
              .data(words)
              .enter().append("text")
              .style("font-size", function (d) {
                return d.size + "px";
              })
              .style("font-family", "Impact")
              .style("fill", function (d, i) {
                return fill(i);
              })
              .attr("text-anchor", "middle")
              .attr("transform", function (d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .text(function (d) {
                return d.text;
              });
    }
  });

  $('g').each(function(index, el){
    $(el).attr("transform", "translate(" + (-el.getBBox().x) + "," + (-el.getBBox().y) + ")");
    $(el).parent().width(el.getBBox().width).height(el.getBBox().height);
  });

  $('svg').attr('display', 'block').css('margin', '0 auto')

</script>
</body>
</html>
